body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
}

h2 {
  font-size: 21px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

img {
  margin-bottom: -6px;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-nav ul {
  padding: 0;
  margin: 0 6%;
  font-size: 0;
}
.main-nav li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.main-nav .logo{
  display: block;
  width: 138px;
  height: 70px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;  
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.main-nav .nav-item-left {
  text-align: left;
}

.main-nav .nav-item-right {
  text-align: right;
}

.header-image {
  width: 100%;
  height: 540px;
  background-image: url("../img/header-image.jpg");
  background-repeat: no-repeat;  
  padding-top: 75px;
  position: relative;
  margin-bottom: 60px;
}

.header-image-words {
  width: 470px;
  height: 370px;
  background-image: url(../img/image-words.png);
  background-repeat: no-repeat;
  margin: 0 auto;  
}

.header-image-mask {
  width: 100%;
  height: 57px;
  background-image: url(../img/header-image-mask.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.col-2 {
  width: 67%;
  float: left;
}

.col-3 {
  width: 33%;
  float: left;
  text-align: center;
}

.col-wrapper {
  width: 75%;
  margin: 0 auto;
}

.col-wrapper h2 {
  width: 70%;
  margin: 0 auto;
}
.under-header {
  text-align: center;
  margin-bottom: 55px;
}
.under-header h2 {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
}
.features-item {
  padding-top: 54px;
  padding-bottom: 54px;
}

.features {
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}

.content-item {
  padding-top: 55px;
  padding-bottom: 85px;
}

.content-icon {
  width: 76px;
  height: 76px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.icon-house {
  background-image: url(../img/icon-house.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-food {
  background-image: url(../img/icon-food.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-souvenirs {
  background-image: url(../img/icon-souvenirs.png);
  background-repeat: no-repeat;
  background-position: center;
}

.features-content {
  background-color: #eeeeee;
}

.block-search {
  width: 570px;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
}

.block-search-header {
  font-size: 30px;
  font-weight: 700;
  line-height: 0.8;
  padding-bottom: 30px;
}

.block-search p {
  width: 80%;
  margin: 0 auto;
  text-align: center;  
}

.search-link {
  margin-top: 55px;
  display: block;
  background-color: #766357;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  font-size: 21px;
  line-height: 1.24;
}

.form-search {
  width: 466px;
  position: absolute;
  top: 100%;
  z-index: 10;
  left: 50%;
  margin-left: -285px;
  padding: 52px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
}

.form-search div {
  margin-bottom: 30px;
}

.form-search label {
  display: inline-block;
  width: 105px;  
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-search input {
  border: none;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 335px;
}

.people-number input {  
  width: 100px;
}

.form-search .btn {
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 195px;
  font-size: 21px;
  width: 100%;
  margin-top: 25px;
}

.map {
  width: 100%;
  height: 590px;
  background-image: url(../img/map.jpg);
  position: relative;
}

.main-footer {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0.9;
  width: 100%;
  padding: 3% 0;
}

.footer-copyright, 
.footer-logo-icon {
  display: inline-block;
  vertical-align: middle;
}

.footer-logo-icon {
  width: 113px;
  height: 39px;
  background-image: url(../img/footer-logo.png);
  background-repeat: no-repeat;
}

.sedona-tag>a{
  display: block;
  font-size: 21px;
}

.social-btn {  
  display: inline-block;
  width: 45px;
  height: 50px;
  background-color: #81b3d2;
}

.hotel-wrapper {
  width: 88%;
  margin: 0 auto;
}

.hotel-col-1 {
  width: 16%;  
}

.hotel-col-2 {
  width: 53%;  
}

.hotel-col-3 {
  width: 31%; 
  text-align: right;
}

.hotel-col {
  float: left;
  padding: 25px 0;
}

.header-image-hotels {
  width: 100%;
  height: 220px;
  background-image: url(../img/header-image-zoom.jpg);
  background-repeat: no-repeat;
}

.structure-filter label {
  display: block;
}

.hotel-filter>.hotel-col-2 {
  box-sizing: border-box;
  padding-left: 7.5%;
}

.type-filter label {
  display: block;
}

.filter-content-header ul li {
  display: inline-block;
}

.filter-info div {
  display: inline-block;
}

.triangles a {
  display: inline-block;
  margin-right: 10px;
}

.triangle-bottom {
  margin-top:5px;
  margin-right: 5px;
  background-color: transparent;
  width: 0px;
  height: 0px;
  border: 5px transparent solid;
  border-top: 9px #81b3d2 solid;
}

.triangle-top {
  margin-bottom: 5px;
  background-color: transparent;
  width: 0px;
  height: 0px;
  border: 5px transparent solid;
  border-bottom: 9px #cccccc solid;
}

.rate-value {
  background-color: #f2f2f2;
  padding: 5px 10px;
  width: 90px;
  position: relative;
  left: 100%;
  margin-left: -110px;
}

.rate-stars {
  position: relative;
  left: 100%;
  height: 16px;
  background-image: url(../img/rate-star.png);
  background-position: right;  
  margin-bottom: 45px;
}

.rate-stars-4{
  width: 64px;
  margin-left: -64px;
}

.rate-stars-2{
  width: 32px;
  margin-left: -32px;
}

.rate-stars-3{
  width: 48px;
  margin-left: -48px;
}
















